/**
 * Created by Mikhail Ulyanov on 03.07.2017.
 */

.content{

  margin: 0 auto;


  .nameFile{
    font-weight: bold;
    text-align: center;
  }


  .goBackButton{
    width: 8%;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
  }

}


